h2 {
  /*text-align: -moz-center;*/
  /*color: black;*/
  text-decoration: underline;
  text-transform: uppercase;
}

footer{
  text-align: left;
  padding: 3px;
  background-color: deepskyblue;
  color: black;
}
.card-body{
  background-color: rosybrown;
}
