<!--<p>albums works!</p>-->





<!--<img src="{{albums.cover}}" height="200" width="200" alt="albumCover" >-->


<nav class="navbar navbar-light" style="background-color: deepskyblue;">
  <a class="navbar-brand" href="#">
    <img src="../../assets/image/musicIcon.jpg" width="40" height="40" class="d-inline-block align-top" alt="" loading="lazy">
    Sandra's 5 Albums
  </a>

</nav>





<button [disabled]="enableAddAlbum" class="btn btn-light btn-block mb-3" >
  Add an Album</button>



<!--<div class="card card-body mb-3" *ngIf="showUserForm">-->
<!--  <h2>Add User</h2>-->
<!--  <form #userForm="ngForm" (ngSubmit)="onSubmit(albumsForm)">-->
<!--    <div class="form-group">-->
<div>
  <ul class="list-unstyled" *ngIf=" albums.length > 0">
    <li class="card card-body mb-5" *ngFor="let album of albums" [class.bg-danger]="album.isActive">
      <div class="row">
        <div class="col-sm-4">
          <!--   BIND OUR IMAGE PROPERTY     -->
          <img class="img-fluid" [src]="album.image" alt="">
        </div>

        <div class="col-sm-8">
          <h2>Title: {{ album.title }}</h2>
          <h3>Artist: {{ album.artist }}</h3>
          <ul>
            <li>Singles: {{ album.songs }}</li>
            <li>Favorite Song: {{ album.favorite }} </li>
            <li>Units Sold: {{ album.units | currency:"USD" }}</li>
          </ul>
        </div>
      </div>

    </li>
  </ul>
</div>


<h3 *ngIf="albums.length === 0">No Albums Found</h3>
<h3 *ngIf="loadingAlbums">Loading Albums...</h3>







<!--        <div class="card card-body mb-3" *ngIf="addAlbum()">-->
<!--          <form name="ngForm" (click)="onSubmit(addAlbum())">-->
<!--            <div class="form-group">-->
<!--              <label>Title</label>-->
<!--              <input type="text" [(ngModel)]="album.title" class="form-control" name="title">-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--              <label>Artist</label>-->
<!--              <input type="text"  [(ngModel)]="album.artist" class="form-control" name="artist">-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--              <label>Songs</label>-->
<!--              <input type="text" [(ngModel)]="album.songs" class="form-control" name="songs">-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--              <label>Genre</label>-->
<!--              <input type="text" [(ngModel)]="album.genre" class="form-control" name="genre">-->
<!--            </div>-->
<!--          </form>-->
<!--        </div>-->







<footer>
  <p>Author: Sandra Linares</p>
</footer>





<!--<button (click)="showUserForm = !showUserForm" class="btn btn-dark mb-3">Add Album</button>-->
<!--<div class="card card-body mb-3" *ngIf="showUserForm">-->
<!--  <h2>Add User</h2>-->
<!--  <form #userForm="ngForm" (ngSubmit)="onSubmit(albumsForm)">-->
<!--    <div class="form-group">-->
<!--      <label>Title</label>-->
<!--      <input-->
<!--        type="text"-->
<!--        [(ngModel)]="albums.title"-->
<!--        class="form-control is-invalid"-->
<!--        title="Title"-->
<!--        #userFirstName="ngModel"-->
<!--        required-->
<!--        maxlength="4"-->
<!--      >-->
<!--      <div [hidden]="!userFirstName.errors?.required" class="invalid-feedback">First Name Required</div>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label>Last Name</label>-->
<!--      <input type="text" class="form-control" [(ngModel)]="user.lastName" name="lastName">-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label>Age</label>-->
<!--      <input type="number" class="form-control" [(ngModel)]="user.age" name="age">-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label>Email</label>-->
<!--      <input-->
<!--        type="email" [(ngModel)]="user.email"-->
<!--        [ngClass]="{'is-invalid':userEmail.errors && userEmail.touched}"-->
<!--        class="form-control"-->
<!--        name="Email"-->
<!--        #userEmail="ngModel"-->
<!--        required-->
<!--        pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">-->

<!--      <div [hidden]="!userEmail.errors?.required" class="invalid-feedback">-->
<!--        Email name required-->
<!--      </div>-->
